# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project Data (Ignore local data generation)
data/raw/markdown/*
!data/raw/markdown/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/output/parts/*
!data/output/parts/.gitkeep

# Environment
.env
.venv
venv/
ENV/
